<?xml version="1.0" encoding="ISO-8859-1"?>

<config>
	<import>
		<xml status="on">conf/general/jmx.xml</xml>
		<xml status="off">conf/general/mailinglist.xml</xml>
		<xml status="on">conf/database.xml</xml>

		<xml status="off">conf/plugins/ImportFarmaci.xml</xml>
		<xml status="off">conf/plugins/ScaricoFarmaci.xml</xml>
		<xml status="off">conf/plugins/ImportPrezzoFarmaci.xml</xml>
		<xml status="off">conf/plugins/ImportAnagrafica.xml</xml>

	</import>
</config>
